# EditorConfig is awesome: https://editorconfig.org

root = true

###############################################################################
# Configuração padrão
###############################################################################

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

###############################################################################
# Python
###############################################################################

[*.py]
indent_style = space
indent_size = 4
max_line_length = 88

###############################################################################
# Markdown
###############################################################################

[*.md]
trim_trailing_whitespace = false
max_line_length = off

###############################################################################
# YAML
###############################################################################

[*.{yml,yaml}]
indent_size = 2

###############################################################################
# JSON
###############################################################################

[*.json]
indent_size = 2

###############################################################################
# HTML / CSS / JS / TS
###############################################################################

[*.{html,css,js,jsx,ts,tsx}]
indent_size = 2

###############################################################################
# TOML
###############################################################################

[*.toml]
indent_size = 4

###############################################################################
# Shell Script
###############################################################################

[*.sh]
indent_size = 2

###############################################################################
# Windows Scripts
###############################################################################

[*.{bat,cmd}]
end_of_line = crlf

[*.ps1]
end_of_line = crlf